
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
#amerpro
{
	margin-top: 164.8px;
	margin-bottom: 150px;
    
}
body {


   display: grid;

   grid-template-rows: 200px auto 200px;
	background-color: #255ea8;
  color: white;
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
}

form {

   
  width: 552px;
  margin: 40px auto;
}

fieldset {
  margin: auto;
  width: 470px;
  height: auto;
  border: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  background: white;
  padding: 30px;
  padding-left: 80px;
}

form div {
  padding: 0 0 40px 0;
}

form label {
  
	float: left;
  width: 200px;
  font-size: 1em;
  color: #111;
}

form label.mid {
  line-height: 40px;
}

form input, form select {
 background: white;
	border: 2px solid white;
	color: black;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 240px;
 vertical-align: middle;
}

form input:hover, form select:hover, form textarea:hover {
	border: 2px solid white;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: white;
  outline: none;
}

form select {
  float: left;
  margin-bottom: 40px;
  appearance: none;
  width: 260px;
  border-radius: 0;
}

form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}

 form input.sub {
  width: 200px;
   background-color: #255ea8;
  height: 35px;
  border: 1px solid white;
  color:whitesmoke;
  border-radius: 4px;

 }
/* 
form textarea {
  width: 240px;
  height: 200px;
  padding: 10px;
  background: #01caa7;
	 border: 2px solid #fff;
	 color: #fff;
} */

form input.submit { 
	
	float: left;
  margin-left: 200px;
  width: 100px;
  height: 40px;
  color: #255ea8;
}

form input.submit:hover { 
 background: #255ea8;
	background: -webkit-linear-gradient(#255ea8, #255ea8);	
	/* background: -moz-linear-gradient(#1d9676, #01caa7);	
	background: -o-linear-gradient(#1d9676, #01caa7);	
	background: -ms-linear-gradient(#1d9676, #01caa7);	
	background: linear-gradient(#1d9676, #01caa7);	
} */

}
div:nth-child(2) {
   

}




.rwd-table {
	margin: 5em auto;
	min-width: 300px;
}
.rwd-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
	padding-top: 0.5em;
}
.rwd-table td:last-child {
	padding-bottom: 0.5em;
}

.rwd-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}
@media (min-width: 480px) {
	.rwd-table td:before {
		display: none;
   }
}
.rwd-table th, .rwd-table td {
	text-align: left;
}
@media (min-width: 480px) {
	.rwd-table th, .rwd-table td {
		display: table-cell;
		padding: 0.25em 0.5em;
   }
	.rwd-table th:first-child, .rwd-table td:first-child {
		padding-left: 0;
   }
	.rwd-table th:last-child, .rwd-table td:last-child {
		padding-right: 0;
   }


   
   #tbl2
   {  
    display: grid;
    grid-template-columns: auto;
    margin-left: 260px;
    min-width: 300px;
    width: 200px;
    margin-top: 5px;  
   }
   .rwd-table {
	   margin: 5em auto;
	   min-width: 300px;
  }
   
section
{ 	display: grid;
	align-items: center;
      
	grid-template-columns: 580px auto;

}

  .rwd-table {
	
		height: 300px;
		background: #140714;
		color: #fff;
		border-radius: 0.4em;
		overflow: hidden;
		width: 1000px;
		margin-bottom: 0px;
	
}
.rwd-table tr {
   border-color: #46637f;
   padding-left: 40px;}

   .rwd-table th, .rwd-table td {
	margin: 0.5em 1em;
}
@media (min-width: 480px) {
	.rwd-table th, .rwd-table td {
		padding: 1em !important;
   }
}
.rwd-table th, .rwd-table td:before {
	color: #FFAA4C;
}


section p
{     padding: 10px;
	width:550px;
    background-color:#140714 ; 
    color: white;
	border-radius:4px;
       margin-left: 0px;
}
section h1{

}
#one 
{
	padding-left:0px ;
	
}
#p{    height: 275px;
    width: 660px;}


/* @import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

body {
  display: grid;
  grid-template-rows: 200px auto 200px;
  background-color: blueviolet;
  color: rgb(245, 212, 212);
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  width: 1300px;  
  margin: 30px 0px;
}


@import "compass/css3";
 @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

 #tbl2
 {     display: grid;
    grid-template-columns: auto;
    margin-left: 340px;
    min-width: 300px;
    width: 200px;
    margin-top: 0px;
 
 }
 .rwd-table {
	 margin: 5em auto;
	 min-width: 300px;
}
 
}
 body {
	 padding: 0 2em;
	 font-family: Montserrat, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 color: #444;
	 background: #eee;
}
 h1 {
	 font-weight: normal;
	 letter-spacing: -1px;
	 color: #34495e;
}
 
.form {
  border-top: 5px solid #01caa7;
  width: 552px;
  margin:  auto;
 display:block;
 justify-content: center;
}

fieldset {
display: block;
  margin: auto;
  width: 470px;
  height: auto;
  border: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  background: #fdfdfd;
  padding: 40px;
  
}

form div {
  padding: 0 0 40px 0;
}

form label {
  float: left;
  width: 200px;
  font-size: 1em;
  color: #111;
}

form label.mid {
  line-height: 40px;
}

form input, form select {
 background: #01caa7;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 240px;
 vertical-align: middle;
}

form input:hover, form select:hover, form textarea:hover {
	border: 2px solid #2b7b5c;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #2b7b5c;
  outline: none;
}

form select {
  float: left;
  margin-bottom: 40px;
  appearance: none;
  width: 260px;
  border-radius: 0;
}

form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}

form input.button {
  width: 270px;
  height: 40px;
  border: 0px solid #fff;
}

form textarea {
  width: 240px;
  height: 200px;
  padding: 10px;
  background: #01caa7;
	 border: 2px solid #fff;
	 color: #fff;
}

form input.submit { 
  float: left;
  margin-left: 200px;
  width: 100px;
  height: 40px;
  color: #fff;
}

form input.submit:hover { 
 background: #1d9676;
	background: -webkit-linear-gradient(#1d9676, #01caa7);	
	  background: -moz-linear-gradient(#1d9676, #01caa7);	
	background: -o-linear-gradient(#1d9676, #01caa7);	
	background: -ms-linear-gradient(#1d9676, #01caa7);	
	background: linear-gradient(#1d9676, #01caa7);	
  */
}